/* #BUTTONS */

// sass-lint:disable space-before-colon
$button-height-base     : 40px;
$button-min-width-ratio : 24px;
$button-padding-hz-ratio: 22px; // This number is subtracted from the height
$button-transition-time: $transition-time-fast;
// sass-lint:enable space-before-colon


@mixin button($background-color, $height: base, $text-color: $font-color-dark, $raised: 0) {
	// Basic
	@include void-link;
	@include inline-flex-center;
	@include transition((background-color, box-shadow), $button-transition-time);
	white-space: nowrap;
	vertical-align: middle;
	outline: 0;
	border: 0;

	// Background color
	@include link-states(background-color, color-hover($background-color), color-active($background-color));
	background-color: $background-color;

	&:disabled {
	@include hover-focus-active {
		background-color: $background-color;
	}
	}

	// Button size
	@if $height == base {
	height: $button-height-base;
	min-width: $button-height-base + $button-min-width-ratio;
	padding: 0 $button-height-base - $button-padding-hz-ratio;
	}
	@else {
	height: $height;
	min-width: $height + $button-min-width-ratio;
	padding: 0 $height - $button-padding-hz-ratio;
	}

	// Text color
	@include self-hover-focus-active {
	color: $text-color;

	&:disabled {
		color: font-color-soft($text-color);

		& .icon {
		fill: font-color-soft($text-color);
		}
	}

	& .icon {
		fill: $text-color;
	}
	}

	// Raised
	@if $raised > 0 {
	@include shadow($raised);
	@include hover-focus {
		@include shadow($raised + 1);
	}

	&:disabled {
		@include hover-focus {
		@include shadow($raised);
		}
	}
	}
	@else if $raised > 4 {
	@error 'Invalid $raised, put a number between 0 and 4';
	}
}



.Button {
	@include button($brand-color-alt, base, $font-color-light, 1);
}
