/*------------------------------------*\
	#BUTTONS
\*------------------------------------*/


.Button {
	@include inlineFlexCenter;
	height: 30px;
	min-width: 60px;
	padding: 1px 7px;
	color: var(--fontColor);
	text-decoration: none;
	white-space: nowrap;
	vertical-align: bottom;

	&:disabled {
		color: var(--fontColor--light);
	}
}
