/*------------------------------------*\
	#DROPDOWN
\*------------------------------------*/

.Dropdown {
	position: relative;
	cursor: pointer;

	@include hover-focus {
		outline: 0;
	}
}

.Dropdown-content {
	@include shadow(3);
	position: absolute;
	right: 0;
	display: none;
	min-width: 150px;
	list-style-type: none;

	.Dropdown:hover &,
	.Dropdown:focus & {
		display: block;
	}
}
