/*------------------------------------*\
	#DROPDOWN
\*------------------------------------*/
// TODO: Improve this component, is not accesible

$dropdowm-min-width: 150px;
$dropdown-shadow-depth: 5;


.Dropdown {
	position: relative;

	@include hover-focus {
		outline: 0;
	}
}

.Dropdown-content {
	position: absolute;
	display: none;
	min-width: $dropdowm-min-width;
	@include shadow($dropdown-shadow-depth);

	// overflow: hidden;
	// opacity: 0;
	// visibility: hidden;
	// transition: visibility 0.5s;

	// .Dropdown:hover &,
	.Dropdown:focus & {
		display: block;

		// opacity: 1;
		// visibility: visible;
		// transition: width 5s;
	}
}


.Dropdown-content--right {
	right: 0;
}
