/*------------------------------------*\
	#DROPDOWN
\*------------------------------------*/


.SubMenu {
	// position: absolute;
	// right: 0;
	// @include boxShadow(3);
	width: 0;
	height: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);

	li:hover > &,
	li:focus > &,
	li:active > & {
		width: inherit;
		height: inherit;
		overflow: inherit;
		clip: inherit;
	}
}
