// WP Galleries
.gallery {
	display: grid;
	align-items: start;
	flex-wrap: wrap;
	justify-items: center;
	grid-gap: 20px;
	grid-template-columns: repeat(1, 1fr);

	figure {
		width: auto;
		margin: 0;
	}
}

// @for $i from 1 through 9 {
// 	.gallery-columns-#{$i} {

// 		@if $i = 2 {
// 			@include from(medium) {
// 				grid-template-columns: repeat(2, 1fr);
// 			}
// 		}

// 		@if $i >= 3 {
// 			@include from(medium) {
// 				grid-template-columns: repeat(3, 1fr);
// 			}
// 		}

// 		@include from(medium) {
// 			grid-template-columns: repeat(#{$i}, 1fr);
// 		}
// 	}
// }
