/*------------------------------------*\
	#LISTS
\*------------------------------------*/

// sass-lint:disable space-before-colon
$list-padding-vt         : 8px;
$list-bg-color           : $color-bg-light;
$list-font-size          : $font-size-base;
$list-border-bottom-color: $alpha-100;
$list-item-height        : 48px;
$list-item-padding-hz    : 16px;
$list-avatar-size        : 40px;
$list-avatar-margin-right: $list-item-padding-hz;
$list-icon-size          : 24px; // All icons. Inline and List-icon element
$list-icon-margin-right  : $list-avatar-margin-right + ($list-avatar-size - $list-icon-size);

$list-padding-vt-small         : 4px;
$list-item-height-small        : 40px;
$list-item-padding-hz-small    : 8px;
$list-avatar-size-small        : 34px;
$list-avatar-margin-right-small: $list-item-padding-hz-small;
$list-icon-margin-right-small  : $list-avatar-margin-right-small + ($list-avatar-size-small - $list-icon-size);
// sass-lint:enable space-before-colon

// Base
.List {
	@include padding-vt($list-padding-vt);
	margin: 0;
	font-size: $list-font-size;
	list-style-type: none;
	background-color: $list-bg-color;

	&:not(:last-child) {
		border-bottom: 1px solid $list-border-bottom-color;
	}

	li {
		display: flex;
		align-items: center;
		height: $list-item-height;
	}
}


// Sections
.List-item,
.List-icon,
.List-aside {
	display: inline-flex;
	align-items: center;
	line-height: $list-item-height;
}

.List-item,
.List-icon, {
	@at-root a#{&} {
		@include void-link;
		@include link-states(background-color, $link-alpha-hover, $link-alpha-active);
	}
}

.List-item {
	@include padding-hz($list-item-padding-hz);
	flex: 1;
	margin: 0; // Fallback for <p>

	&[data-badge]::after {
		flex: 1;
		color: $font-color-dark-soft;
		text-align: right;
		content: attr(data-badge);
	}
}


// Extras
.icon {
	.List & {
		@include size($list-icon-size);
		fill: $font-color-dark-soft;
	}

	.List-item & {
		margin-right: $list-icon-margin-right;
	}
}

.avatar {
	.List-item & {
		@include circle($list-avatar-size);
		display: inline-block;
		margin-right: $list-avatar-margin-right;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}


// Addons
.List-icon {
	@include size($list-item-height);
	justify-content: center;

}

.List-aside {
	@include padding-hz($list-item-padding-hz);
}


// Small variant
// scss-lint:disable MergeableSelector
.List.is-small {
	@include padding-vt($list-padding-vt-small);

	li {
		height: $list-item-height-small;
	}

	.List-item,
	.List-icon,
	.List-aside {
		line-height: $list-item-height-small;
	}

	.List-item {
		@include padding-hz($list-item-padding-hz-small);

		.icon {
			margin-right: $list-icon-margin-right-small;
		}

		.avatar {
			@include circle($list-avatar-size-small);
			margin-right: $list-avatar-margin-right-small;
		}
	}

	.List-icon {
		@include size($list-item-height-small);

	}

	.List-aside {
		@include padding-hz($list-item-padding-hz-small);
	}
}
