/* $LIST */

// Variables
:root {
	--List-item-minHeight: 48px;
	--List-item-paddingVertical: 4px;
	--List-item-paddingHorizontal: 16px;
}


// Base
.List {
	padding: 8px 0;
	margin: 0;
	font-size: var(--fontSize);
	list-style-type: none;
	background-color: var(--bgColor--light);

	li {
		display: flex;

		&.is-centered {
			overflow-x: scroll;
		}
	}
}



// List items
.List-main,
.List-aside {
	@include voidLink;
	display: inline-flex;
	align-items: center;
	min-height: var(--List-item-minHeight);
	padding: var(--List-item-paddingVertical) var(--List-item-paddingHorizontal);

	@include hoverFocus {
		background-color: var(--link-onHover-bgColor--alpha--black);
	}


	&[data-value]::after {
		flex: 1;
		margin-left: var(--List-item-paddingHorizontal);
		text-align: right;
		content: attr(data-value);
	}
}


.List-main {
	flex: 1;

	li.is-centered > & {
		justify-content: center;
	}
}


.List-icon {
	@include size(1.5em);

	&:not(:last-child) {
		margin-right: var(--List-item-paddingHorizontal);
	}
}



// VARIANTS
// stylelint-disable no-duplicate-selectors

// Small variant
.List {
	&.is-small {
		--List-item-minHeight: 40px;
		--List-item-paddingVertical: 2px;
		--List-item-paddingHorizontal: 8px;
	}
}
