/*------------------------------------*\
	#TAGS
\*------------------------------------*/

// sass-lint:disable space-before-colon
$tag-height    : 24px;
$tag-padding-hz: 6px;
$tag-border-radius: 4px;
$tag-font-size: 0.9rem;
$tag-icon-margin-right: $tag-padding-hz;
// sass-lint:enable space-before-colon

.Tag {
	@include padding-hz($tag-padding-hz);
	@include link-states(color, $white);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: $tag-height;
	font-size: $tag-font-size;
	color: $white;
	vertical-align: middle;
	background-color: $brand-color;

	@include self-hover-focus-active {
		text-decoration: none;
	}

	.icon {
		margin-right: $tag-icon-margin-right;
		fill: $white;
	}
}
