// stylelint-disable declaration-no-important
/* $HELPERS */

// LAYOUT
// Hide an element
.h-hidden {display: none !important;}

// Not show it, but maintain the layout
.h-invisible {visibility: hidden !important;}

// A11Y
.h-screenReader {@include screenReader;}

// LINKS
.h-voidLink {@include voidLink;}

// Display links when the <a> element has no text value but the href
.h-showLink::before {content: attr(href);}


// SIZE
.h-fullWidth {width: 100%;}


// TEXT
.h-uppercase {text-transform: uppercase;}
.h-capitalize {text-transform: capitalize;}

.h-textAlign-right {text-align: right;}
.h-textAlign-left {text-align: left;}
.h-textAlign-center {text-align: center;}
.h-textAlign-justify {text-align: justify;}

// In HTML5, tags with pure stylistic purposes are deprecated, I recommend
// use the clasess below into a '<span>' element.
.h-bold {font-weight: var(--fontWeight--bold);}
.h-italic {font-style: italic;}
.h-underline {text-decoration: underline;}
.h-overline {text-decoration: overline;}
.h-strikethrough {text-decoration: line-through;}
.h-monospace {font-family: var(--fontFamily-monospace);}

.h-unselectable {user-select: none;}


// PRINT
// No print the element
@media print {
	.h-noPrint {
		display: none !important;
	}
}
