// Add background images
@mixin backgroundImage($image-url) {
	background-image: url($image-url);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}



// Aspect radio
@mixin aspectRatio {
	// stylelint-disable-next-line selector-list-comma-newline-after
	&.is-1by1::before, &.is-square {padding-bottom: percentage(1 / 1);} // 1:1
	&.is-21by9::before {padding-bottom: percentage(9 / 21);} // 21:9
	&.is-16by9::before {padding-bottom: percentage(9 / 16);} // 16:9
	&.is-5by3::before {padding-bottom: percentage(3 / 5);} // 5:3
	&.is-4by3::before {padding-bottom: percentage(3 / 4);} // 4:3
	&.is-2by1::before {padding-bottom: percentage(1 / 2);} // 2:1
}
