// Body
body {
	font-family: font(normal);
	font-size: 1em;
	color: var(--fontColor);
	scroll-behavior: smooth;
}

::selection {
	background-color: tint(color(primary), 70%);
}



// Headings
// stylelint-disable-next-line selector-list-comma-newline-after
h1, h3, h4, h2, h5, h6 {
	margin-top: 1.2em;
	margin-top: 0;
	margin-bottom: 0.6em;
	line-height: 1.4em;
	text-rendering: optimizeLegibility;
}


// Text
p {
	@include margin-bottom(1em);
	margin-top: 0;
	line-height: 1.5em;
	text-align: left;
}


// Lists
ul,
ol {
	padding-left: 20px;

	li {
		@include margin-y(0.25em);
	}

	@include from(medium) {
		padding-left: 30px;
	}
}


// Inline elements
a {
	text-decoration: none;
	color: var(--color-primary);

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}


small {
	font-size: 0.85em;
	color: var(--fontColor--light);
}


del {
	color: var(--color-red);
}


ins {
	color: var(--color-green);
}


mark {
	background-color: var(--color-yellow);
}


kbd {
	background-color: var(--bgColor--50);
	box-shadow: 0 2px var(--bgColor--100);
}

abbr {
	text-transform: uppercase;
}

address {
	font-style: inherit;
}



// Media
figure {
	@include margin-bottom(1em);
}

figcaption {
	font-size: 0.85em;
	color: var(--fontColor--light);
	&:first-child {margin-bottom: 0.5em;}
	&:last-child {margin-top: 0.5em;}
}
