/*------------------------------------*\
	#BASE
\*------------------------------------*/

// Variables
:root {

	// Site Layout
	--site-maxWidth   : 1920px;
	--wrapper-width   : 800px;
	--wrapper-marginHz: 8px;

	// Transitions
	--transitionTime          : 200ms;
	--transitionTime--fast    : 100ms;
	--transitionTime--slow    : 300ms;
	--transitionTimingFunction: ease-in-out;
}



/// Breakpoints map
/// @group breakpoint
/// @type Map
/// @prop {Number} medium - 450px.
/// @prop {Number} large - 1024px.
/// @prop {Number} extraLarge - 1920px.
$breakpoints: (
	'medium': 450px,
	'large': 1024px,
	'extraLarge': 1920px,
) !default;
