// Sectioning root
body {
	font-family: $font-family-sans-serif;
	font-size: 1em;
	color: var(--fontColor);
	background-color: var(--bgColor);
	scroll-behavior: smooth;
}

::selection {
	background-color: tint($secondary, 70%);
}



// Content sectioning
// stylelint-disable-next-line selector-list-comma-newline-after
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.6em;
	line-height: 1.4em;
	text-rendering: optimizeLegibility;
}

address {
	font-style: inherit;
}



// Text content
p {
	line-height: 1.5em;
	text-align: left;
}

figure {
	@include margin-bottom(1em);
}

figcaption {
	font-size: 0.85em;
	color: var(--fontColor--light);
	&:first-child { margin-bottom: 0.5em; }
	&:last-child { margin-top: 0.5em; }
}

ul,
ol {
	padding-left: 1.25em;

	@include from(medium) {
		padding-left: 30px;
	}

	li {
		@include margin-y(0.25em);
	}
}



// Inline text semantics
a {
	text-decoration: none;
	color: var(--color-primary);

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

small {
	font-size: 0.85em;
}

mark {
	background-color: var(--color-yellow);
}

kbd {
	background-color: var(--bgColor--50);
	box-shadow: 0 2px var(--bgColor--100);
}

abbr {
	text-transform: uppercase;
}



// Demarcating
del {
	color: var(--color-red);
}

ins {
	color: var(--color-green);
}
