pre,
code,
kbd,
samp {
	font-family: $font-family-monospace;
	font-size: 0.9em;
}


pre,
code {
	background-color: var(--bgColor--100);
}


pre {
	tab-size: 2;
	padding: 10px;
	margin: 0.5em 0;
	@include from(small) {
		tab-size: 4;
	}
}


:not(pre) > code,
kbd {
	padding: 0.2em 0.4em;
	border-radius: 2px;
	user-select: all;
}
