/// Simple grid mixin
/// @group layout
/// @param {number} $columns - The number of columns
/// @param {units} $gap - Px of gap between elements
/// @example scss - Usage
///   .foo {
///     @include grid(3, 10px);
///   }
@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, auto);
  grid-template-rows: auto;
  grid-gap: $gap;
  justify-items: center;
}
