////
/// @group layout
////

/// Completly center items in a `flex` container
@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

/// Completly center items in a `inline-flex` container
@mixin inlineFlexCenter {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

/// Vertical center absolute item
@mixin verticalCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/// Horizontal center absolute item
@mixin horizontalCenter {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/// Completly center absolute item
@mixin absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
