/// Full width in small screens
/// @group layout
/// @param {units} $marginHz - Horizontal margin of the parent element
@mixin oversize($marginHz) {
	@include breakpointDown(medium) {
		position: relative;
		left: 50%;
		width: calc(100% + (#{$marginHz} * 2));
		border-radius: 0;
		transform: translateX(-50%);
	}
}
