/*------------------------------------*\
	#BASE
\*------------------------------------*/

//Body
body {
	background-color: $bgColor--light;
}


//Lists
ul,
ol {
	padding-left: 0;

	& & {
		padding-left: 30px;
	}
}


//Media
figcaption {
	font-size: $fontSize--small;
	color: $fontColor--light;
	&:first-child {margin-bottom: 0.5em;}
	&:last-child {margin-top: 0.5em;}
}


// Dialog
dialog {
	@include horizontalCenter;
	@include shadow(4);
	width: 70vw;
	border: 0;
}
