/*------------------------------------*\
	#BUTTON
\*------------------------------------*/

button,
.Button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@include inlineFlexCenter;
	height: 30px;
	min-width: 60px;
	padding: 1px 7px;
	color: $fontColor;
	white-space: nowrap;
	vertical-align: bottom;
	border: 0;
	outline: 0;

	&:disabled {
		color: $fontColor--light;
	}
}

.Button {
	text-decoration: none;
}
