/*------------------------------------*\
	#BUTTON
\*------------------------------------*/

button,
.Button {
	@include inline-flex-center;
	white-space: nowrap;
	vertical-align: middle;
	outline: 0;
	border: 0;
	color: $font-color;

	&:disabled {
		color: $font-color-light;
		& .icon {fill: $font-color-light;}
	}
}

.Button {
	text-decoration: none;
}
