/*------------------------------------*\
	#BUTTON
\*------------------------------------*/

button,
.Button {
	@include inlineFlexCenter;
	color: $fontColor;
	white-space: nowrap;
	vertical-align: bottom;
	border: 0;
	outline: 0;
	height: 30px;
	min-width: 60px;
	padding: 1px 7px;

	&:disabled {
		color: $fontColor--light;
	}
}

.Button {
	text-decoration: none;
}
