/* $COLOR */

// VARIABLES
// Brand color
$brand-color: $royal-blue;



// CUSTOM PROPERTIES
// stylelint-disable declaration-colon-space-before
:root {
	// Background color
	--bgColor--dark : #{$oc-grey-800};
	--bgColor--light: #{$white};

	// Font color
	--fontColor             : #{$grey-700};
	--fontColor--light      : #{$grey-500};
	--fontColor--lighter    : #{$grey-300};
	--fontColor--dark       : #{$grey-900};
	--fontColor-alpha--black: #{alpha-black(0.4)};
	--fontColor-alpha--white: #{alpha-white(0.4)};

	// Brand color
	--brand-color: #{$royal-blue};

	// Basic color
	--blue  : #{$royal-blue};
	--green : #{$nephritis};
	--orange: #{$carrot-500};
	--pink  : #{$peach-colored};
	--purple: #{$bellflower};
	--red   : #{$pure-crimson};
	--yellow: #{$sandstorm};

	// Link colors
	--link-fontColor          : #{$brand-color};
	--link-fontColor--onHover : #{shadow($brand-color, 15%)};
	--link-fontColor--onActive: #{shadow($brand-color, 30%)};

	// Link color - status
	--link-onHover-bgColor--alpha--black : #{alpha-black(0.1)};
	--link-onActive-bgColor--alpha--black: #{alpha-black(0.2)};
	--link-onHover-bgColor--alpha--white : #{alpha-white(0.1)};
	--link-onActive-bgColor--alpha--white: #{alpha-white(0.2)};
}
// stylelint-enable


// Body
body {
	color: var(--fontColor);
	background-color: var(--bgColor--light);
}


::selection {
	color: $white;
	background-color: var(--brand-color);
}



// Inline elements
a {
	color: var(--link-fontColor);
}


del {
	color: var(--red);
}


ins {
	color: var(--green);
}


mark {
	background-color: var(--yellow);
}


kbd {
	background-color: $white;
	box-shadow: 0 2px $grey-150;
}


small {
	color: var(--fontColor--light);
}



// Media
figcaption {
	color: var(--fontColor--light);
}
