/*------------------------------------*\
	#FORM
\*------------------------------------*/

input,
select {
	outline: none;

	&:disabled {
		color: $fontColor--light;
	}
}


#{$InputText} {
	@include transition(border-color, $transitionTime--fast);
	padding: $InputText-paddingVt $InputText-paddingHz;
	color: $fontColor;
	background-color: transparent;
	border: $InputText-borderWidth solid $InputText-borderColor;
	border-radius: $InputText-borderRadius;
	outline: none;

	&::placeholder {
		color: $fontColor--lighter;
	}

	&:focus {
		border-color: $InputText-borderColor--focus;
	}

	&:disabled {
		background-color: $alpha-b-50;
	}
}
