/* $TYPOGRAPHY */

// VARIABLES
// Margin
$marginBottom: 1em;


// CUSTOM PROPERTIES
:root {
	// Font family
	--fontFamily: var(--fontFamily-sans-serif);
	--fontFamily-sans-serif: "Open Sans", "Helvetica Neue", "Roboto", sans-serif;
	--fontFamily-serif: serif;
	--fontFamily-monospace: "Hack", "Inconsolata", "Menlo", "Consolas", monospace;

	// Font size
	--fontSize: 1em;
	--fontSize--large: 1.2em;
	--fontSize--small: 0.85em;

	// Font weight
	--fontWeight--bold: 600;

	// Line height
	--lineHeight: 1.5em;

	// Letter spacing
	--letterSpacing--narrow: -0.05em;
	--letterSpacing--wide: 0.05em;

	// Word spacing
	--wordSpacing--narrow: -0.05em;
	--wordSpacing--wide: 0.05em;


	// Headings - Font size
	--fontSize-h1: 2em;
	--fontSize-h2: 1.6em;
	--fontSize-h3: 1.3em;
	--fontSize-h4: 1em;
	--fontSize-h5: 1em;
	--fontSize-h6: 1em;

	// Headings - Line height
	--lineHeight-headings: 1.4em;

	// Headings - Margin
	--marginTop-headings: 1.2em;
	--marginBottom-headings: 0.5em;

	@include from(medium) {
		--fontSize-h1: 2.3em;
		--fontSize-h2: 2em;
		--fontSize-h3: 1.7em;
		--fontSize-h4: 1.3em;
		--fontSize-h5: 1em;
		--fontSize-h6: 1em;
	}
}



// Body
body {
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
}


// Headings
h1 {font-size: var(--fontSize-h1);}
h2 {font-size: var(--fontSize-h2);}
h3 {font-size: var(--fontSize-h3);}
h4 {font-size: var(--fontSize-h4);}
h5 {font-size: var(--fontSize-h5);}
h6 {font-size: var(--fontSize-h6);}

// stylelint-disable-next-line selector-list-comma-newline-after
h1, h3, h4, h2, h5, h6 {
	margin-top: var(--marginTop-headings);
	margin-bottom: var(--marginBottom-headings);
	font-family: var(--fontFamily);
	line-height: var(--lineHeight-headings);
	text-rendering: optimizeLegibility;

	&:first-child {
		margin-top: 0;
	}
}



// Text layout
p,
ul,
ol,
dl,
pre,
table,
figure,
blockquote {
	@include textBlock;
}

p {
	line-height: var(--lineHeight);
	text-align: left;
}



// Lists
ul,
ol {
	padding-left: 20px;

	li {
		@include marginVt(0.25em);
	}

	@include from(medium) {
		padding-left: 30px;
	}
}



// Inline elements
abbr {
	text-transform: uppercase;
}


small {
	font-size: var(--fontSize--small);
}



// Media
figcaption {
	font-size: var(--fontSize--small);
	&:first-child {margin-bottom: 0.5em;}
	&:last-child {margin-top: 0.5em;}
}
