/*------------------------------------*\
	#BUTTONS
\*------------------------------------*/

button,
input[type='button'],
input[type='reset'],
input[type='submit'],
[role='button'] {
	@include inlineFlexCenter;
	border: 0;
	outline: 0;
	cursor: default;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: bottom;
	color: var(--fontColor);
	min-width: 60px;
	padding: 1px 7px;
	height: 30px;
	background-color: lightgrey;

	&:disabled {
		color: var(--fontColor--light);
	}

	@include hoverFocus {
		background-color: lightsalmon;
	}
}
