button,
input[type="button"],
input[type="reset"],
input[type="submit"],
[role="button"] {
	@include inline-flex-center;
	border: none;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	outline: 0;
}



.Button {
	min-width: 60px;
	min-height: 35px;
	padding: 2px 8px;
	color: color(dark);
	background-color: $grey-150;

	@include hover-focus {
		color: inherit;
		background-color: var(--color-primary);
	}

	// &:disabled {
	// 	color: var(--fontColor--light);
	// }

	.Icon {
		@include size(24px);
		margin-right: 8px;
	}
}
