.Button {
	@include inline-flex-center;
	min-width: 60px;
	min-height: 35px;
	padding: 0.125em 0.5em;
	border: none;
	white-space: nowrap;
	vertical-align: middle;
	color: var(--fontColor);
	background-color: $grey-150;
	outline: 0;

	@include self-hover-focus-active {
		text-decoration: none;
	}

	&:focus {
		@include focus-outline;
	}

	&:hover {
		background-color: $grey-200;
	}

	&:active {
		background-color: $grey-250;
	}

	&:disabled {
		color: color(dark-soft);
		background-color: $grey-300;
	}

	// Modifiers
	&--fullWidth {
		width: 100%;
	}

	// Childs
	.Icon {
		&:first-child {margin-right: 0.5em;}
		&:last-child {margin-left: 0.5em;}
	}
}
