// Base
.Card {
	@include box-shadow(2);

	display: inline-block;
	border-radius: 0.5em;
	background-color: var(--bgColor);

	&-content {
		margin: 1em;
	}

	// Modifiers
	&--link {
		@include link-raw;
		@include transition(box-shadow);

		@include hover-focus {
			@include box-shadow(3);
		}
	}

	&--media {
		position: relative;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		// For preserve the aspect ratio
		// http://nicolasgallagher.com/flexible-css-cover-images
		&::before {
			display: block;
			padding-bottom: percentage(9 / 16);
			content: "";
		}
	}
}
