// Site Layout
$wrapper-max-width: 1920px;
$wrapper-width: 800px;
$wrapper-padding-x: 16px;

// Colors
$black: hsl(0, 0%, 1%);
$white: hsl(0, 0%, 100%);

$primary: #2677d1;
$primary-light: tint($primary, 20%);
$secondary: #ba580d;
$secondary-light: tint($secondary, 20%);

$blue: #339af0;
$blue-light: tint($blue, 20%);
$green: #51cf66;
$green-light: tint($green, 20%);
$red: #ff6b6b;
$red-light: tint($red, 20%);
$yellow: #fcc419;
$yellow-light: tint($yellow, 20%);

$grey-50: tint($black, 95%);
$grey-100: tint($black, 90%);
$grey-150: tint($black, 85%);
$grey-200: tint($black, 80%);
$grey-250: tint($black, 75%);
$grey-300: tint($black, 70%);
$grey-350: tint($black, 65%);
$grey-400: tint($black, 60%);
$grey-450: tint($black, 55%);
$grey-500: tint($black, 50%);
$grey-550: tint($black, 45%);
$grey-600: tint($black, 40%);
$grey-650: tint($black, 35%);
$grey-700: tint($black, 30%);
$grey-750: tint($black, 25%);
$grey-800: tint($black, 20%);
$grey-850: tint($black, 15%);
$grey-900: tint($black, 10%);
$grey-950: tint($black, 5%);


// Font types
$font-family-sans-serif: "Open Sans", "Helvetica Neue", "Roboto", sans-serif;
$font-family-serif: serif;
$font-family-monospace: "Hack", "Inconsolata", "Menlo", "Consolas", monospace;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$breakpoints: (
	"small": 500px,
	"medium": 960px,
	"large": 1344px,
	"extralarge": 1920px,
) !default;

$duration-short: 100ms;
$duration-normal: 200ms;
$duration-large: 300ms;

// z-index
$z-index: (
	"navbar": 99
) !default;
