// Site Layout
$site-maxWidth: 1920px;
$wrapper-width: 800px;
$wrapper-margin-x: 8px;
$textLineHeight: 1.5em;



// Base
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

// Greyscale
$grey-50 : tint($black, 95%);
$grey-100: tint($black, 90%);
$grey-150: tint($black, 85%);
$grey-200: tint($black, 80%);
$grey-250: tint($black, 75%);
$grey-300: tint($black, 70%);
$grey-350: tint($black, 65%);
$grey-400: tint($black, 60%);
$grey-450: tint($black, 55%);
$grey-500: tint($black, 50%);
$grey-550: tint($black, 45%);
$grey-600: tint($black, 40%);
$grey-650: tint($black, 35%);
$grey-700: tint($black, 30%);
$grey-750: tint($black, 25%);
$grey-800: tint($black, 20%);
$grey-850: tint($black, 15%);
$grey-900: tint($black, 10%);
$grey-950: tint($black, 5%);


// Colors
$color: (
	"primary": hsl(204, 70%, 53%),
	"dark": $black
) !default;

@function color($key) {
	@if map-has-key($color, $key) {
		@return map-get($color, $key);
	} @else {
		@error "Undefined color: '$key'.";
	}
}


// z-index
$z-index: (
	"navbar": 99
) !default;

@function z($key) {
	@if map-has-key($z-index, $key) {
		@return map-get($z-index, $key);
	} @else {
		@error "Undefined z-index: '$key'.";
	}
}



// Font types
$fontFamily-sans-serif: "Open Sans", "Helvetica Neue", "Roboto", sans-serif;
$fontFamily-serif: serif;
$fontFamily-monospace: "Hack", "Inconsolata", "Menlo", "Consolas", monospace;

// Fonts
$font: (
	"normal": $fontFamily-sans-serif,
	"heading": $fontFamily-sans-serif,
	"code": $fontFamily-monospace,
) !default;

@function font($key) {
	@return map-get($font, $key);
}

// Font Sizes
$weight: (
	"light": 300,
	"regular": 400,
	"bold": 700,
) !default;

@function weight($key) {
	@return map-get($weight, $key);
}



// Breakpoints map
$breakpoints: (
	"small": 450px,
	"medium": 1024px,
	"large": 1344px,
	"extralarge": 1920px,
) !default;

@function bp($key) {
	@return map-get($breakpoints, $key);
}



// Timing
$time: (
	"fast": 100ms,
	"normal": 200ms,
	"slow": 300ms,
) !default;

@function time($key) {
	@return map-get($time, $key);
}


// CUSTOM PROPERTIES
// stylelint-disable declaration-colon-space-before
:root {
	// Background color
	--bgColor         : #{$white};
	--bgColor-onHover : #{black(0.1)};
	--bgColor-onActive: #{black(0.2)};
	// --brandColor-primary: #{$royal-blue};
	// --brandColor-secondary: #{$sunglo};

	// Font color
	--fontColor             : #{$grey-700};
	--fontColor--light      : #{$grey-500};
	--fontColor--lighter    : #{$grey-300};
	--fontColor--dark       : #{$grey-900};
	--fontColor-alpha--black: #{black(0.4)};
	--fontColor-alpha--white: #{white(0.4)};

	// Basic color
	// --blue  : #{$royal-blue};
	// --green : #{$nephritis};
	// --orange: #{$carrot-500};
	// --pink  : #{$peach-colored};
	// --purple: #{$bellflower};
	// --red   : #{$pure-crimson};
	// --yellow: #{$sandstorm};
}




// stylelint-enable
