
:root {
	--primary: #{$primary};
	--green: #{$green};
	--blue: #{$blue};
	--yellow: #{$yellow};
	--red: #{$red};

	--fontColor: #{$grey-700};
	--fontColor--light: #{$grey-500};
	--fontColor--lighter: #{$grey-300};

	--bgColor: #{$white};
	--bgColor--50: #{$grey-50};
	--bgColor--100: #{$grey-100};
	--bgColor--200: #{$grey-200};

	@include dark {
		--primary: #{$primary-light};
		--green: #{$green-light};
		--blue: #{$blue-light};
		--yellow: #{$yellow-light};
		--red: #{$red-light};

		--fontColor: #{$white};
		--fontColor--light: #{$grey-300};
		--fontColor--lighter: #{$grey-500};

		--bgColor: #{$grey-900};
		--bgColor--50: #{$grey-850};
		--bgColor--100: #{$grey-800};
		--bgColor--200: #{$grey-700};
	}
}
