// sass-lint:disable space-before-colon

// Transitions
$transitionTime--fast    : 100ms !default;
$transitionTime          : 200ms !default;
$transitionTime--slow    : 300ms !default;
$transitionTimingFunction: ease-in-out !default;
