// sass-lint:disable space-before-colon

// Background colors
$bgColor--dark : $oc-grey-800 !default;
$bgColor--light: $white !default;


// Brand colors
$brand-color-modifier-pct: 15%;

$brand-color       : $royal-blue !default;
$brand-color--c    : complement($brand-color) !default;
$brand-color-sec   : $sunglo !default;
$brand-color-sec--c: complement($brand-color-sec) !default;

$brand-blue   : $royal-blue !default;
$brand-green  : $nephritis !default;
$brand-orange : $carrot-500 !default;
$brand-pink   : $peach-colored !default;
$brand-purple : $bellflower !default;
$brand-red    : $pure-crimson !default;
$brand-yellow : $sandstorm !default;


// Font colors
$fontColor         : $grey-700 !default;
$fontColor--light  : $grey-500 !default;
$fontColor--lighter: $grey-300 !default;


$fontColor-alpha-b: $alpha-b-400 !default;
$fontColor-alpha-w: $alpha-w-400 !default;


// Link colors
$link-fontColor--hover-pct : 10% !default;
$link-fontColor--active-pct: 20% !default;

$link-fontColor        : $brand-color !default;
$link-fontColor--hover : darker($link-fontColor, $link-fontColor--hover-pct) !default;
$link-fontColor--active: darker($link-fontColor, $link-fontColor--active-pct) !default;

$link-fontColor-alpha-b--hover : darker($alpha, $link-fontColor--hover-pct) !default;
$link-fontColor-alpha-b--active: darker($alpha, $link-fontColor--active-pct) !default;
$link-fontColor-alpha-w--hover : lighter($alpha, $link-fontColor--hover-pct) !default;
$link-fontColor-alpha-w--active: lighter($alpha, $link-fontColor--active-pct) !default;
