// sass-lint:disable space-before-colon

$InputText-paddingHz        : 10px;
$InputText-paddingVt        : 5px;
$InputText-borderWidth       : 1px;
$InputText-borderRadius      : 0;
$InputText-borderColor       : $grey-200;
$InputText-borderColor--focus: $brand-color;

$InputText: 'textarea',
'input[type=email]',
'input[type=password]',
'input[type=search]',
'input[type=tel]',
'input[type=text]',
'input[type=url]',
'input[type=number]',
'input[type=datetime]',
'input[type=datetime-local]',
'input[type=date]',
'input[type=month]',
'input[type=week]',
'input[type=time]',
'input[list]';
