// sass-lint:disable space-before-colon

// Font
$fontFamily-sans-serif: 'Open Sans', 'Helvetica Neue', Roboto, sans-serif !default;
$fontFamily-serif: serif !default;
$fontFamily-monospace: Hack, Inconsolata, Menlo, monospace !default;

$fontFamily: $fontFamily-sans-serif !default;

// Font-size
$fontSize : 1rem !default; //~16px
$fontSize--large: 1.2rem !default; //~19px
$fontSize--small: 0.8rem !default; //~13px

$fontSize-h1: 2.3rem !default;
$fontSize-h2: 2rem !default;
$fontSize-h3: 1.7rem !default;
$fontSize-h4: 1.3rem !default;
$fontSize-h5: 1rem !default;
$fontSize-h6: 0.9rem !default;

// Font-weight
$fontWeight--bold: bold !default;

// Line height
$lineHeight           : 1.5em !default;
$lineHeight-headings  : 1.4em !default;

// Letter spacing
$letterSpacing--narrow: -0.05em !default;
$letterSpacing--wide  : 0.05em !default;

// Word spacing
$wordSpacing--narrow: -0.05em !default;
$wordSpacing--wide  : 0.05em !default;

// Code
$code-fontSize: $fontSize * 0.9 !default;

// Margins
$marginBottom: 1.7em !default;

$marginTop-headings   : 1.1em !default;
$marginBottom-headings: 0.5em !default;
