/*------------------------------------*\
	#BOTTOM-NAVBAR
\*------------------------------------*/

$BottomNavbar-height: 56px;
$BottomNavbarItem-maxWidth: 150px;
$BottomNavbarItem-color--active: $link-fontColor;

.BottomNavbar {
	@include shadow(2, top);
	position: fixed;
	bottom: 0;
	z-index: index($index, bottomNavbar);
	display: flex;
	justify-content: center;
	width: 100%;
	height: $BottomNavbar-height;
}

.BottomNavbar--scrollSensitive {
	@include transition(bottom);
	@include scrollDown {
		bottom: -$BottomNavbar-height;
	}
}


.BottomNavbar-item {
	display: flex;
	align-items: center;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	max-width: $BottomNavbarItem-maxWidth;
	padding: 5px 12px 8px;
	font-size: 0.9rem;
	@include linkStates(background-color, $link-fontColor-alpha-b--hover, $link-fontColor-alpha-b--active);
}
