/*
// Comments
.post-comments {
	ol,
	ul {
		list-style-type: none;
	}
}

.comment-form {
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 10px;
	grid-template-rows: auto;
	grid-template-areas:
		"author"
		"email"
		"url"
		"message"
		"notes"
		"footer";

	@include from(medium) {
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			"logged logged logged"
			"author email url"
			"message message message"
			"notes notes notes"
			"footer footer footer";
	}
}

.logged-in-as {grid-area: logged;}
.comment-form-author {grid-area: author;}
.comment-form-email {grid-area: email;}
.comment-form-url {grid-area: url;}

.comment-form-comment {
	display: flex;
	flex-direction: column;
	grid-area: message;
}

.comment-notes {grid-area: notes;}
.form-submit {grid-area: footer;}



.comment-form-author,
.comment-form-email,
.comment-form-url {
	display: flex;
	flex-direction: column;
}
*/
