/*------------------------------------*\
	#NAVBAR
\*------------------------------------*/

// Variables
:root {
	--Navbar-height: 55px;
	--Navbar-paddingHz: 6px;
	--Navbar-items-gap: 5px;
	--Navbar-link-paddingVt: 5px;
	--Navbar-link-paddingHz: 5px;
	--Navbar-icon-height: 48px;

	@include breakpoint(large) {
		--Navbar-height: 65px;
		--Navbar-paddingHz: 20px;
		--Navbar-items-gap: 10px;
		--Navbar-link-paddingHz: 15px;
	}
}

/**
 * 1. The navbar height not computing in box-model layout.
 * 2. box-shadow: For navbar with shadow
 *    transform: For navbar--scrollSensitive variant
 */
/* NAVBAR */
.Navbar {
	z-index: 99;
	display: flex;
	align-items: center;
	width: 100%;
	height: var(--Navbar-height);
	padding: 0 var(--Navbar-paddingHz);
}

// All inside an element with this class is at right
.Navbar-right {
	margin-left: auto;
}


/* NAVBAR ITEMS */
.Navbar-items {
	@include inlineList;
	margin-bottom: 0; // To rewrite paragraph default margin-bottom

	li:not(:first-child) {
		margin-left: var(--Navbar-items-gap);
	}
}


// Text
.Navbar-text {
	@include inlineFlexCenter;
	padding: var(--Navbar-link-paddingVt) var(--Navbar-link-paddingHz);
	color: var(--link-fontColor);
	text-decoration: none;
	@include linkStates(color, var(--link-fontColor--onHover));

	svg {
		margin-right: 10px;
	}
}


// Icon
.Navbar-icon {
	@include circle(var(--Navbar-icon-height));
	@include inlineFlexCenter;
	color: var(--fontColor);
	background-color: transparent;
	@include linkStates(background-color, var(--link-onHover-bgColor--alpha--black), var(--link-onActive-bgColor--alpha--black));
}



/* VARIANTS */

// /**
//  * Fix the navbar always on top
//  */
// .Navbar--fixed {
// 	@include boxShadow(1);
// 	@include transition(box-shadow); /* 2 */
// 	position: fixed; /* 1 */
// 	top: 0;
// 	will-change: box-shadow;
//
// 	@include scrolled {
// 		@include boxShadow(3);
// 	}
// }
//
// /**
//  * Fix the navbar always on top, but it show and hide if scroll down or up
//  */
// .Navbar--scrollSensitive {
// 	@include boxShadow(1);
// 	@include transition((box-shadow, transform)); /* 2 */
// 	position: fixed; /* 1 */
// 	top: 0;
// 	will-change: box-shadow, transform;
//
// 	@include scrolled {
// 		@include boxShadow(3);
// 	}
//
// 	@include scrollDown {
// 		transform: translateY(var(--Navbar-height));
// 	}
// }
