/*------------------------------------*\
	#NAVBAR
\*------------------------------------*/


$Navbar-height: 55px;
$Navbar--large-height: 65px;
$Navbar-section-margin: 6px;
$Navbar--large-section-margin: 15px;


/**
 * 1. The navbar height not computing in box-model layout.
 * 2. box-shadow: For navbar with shadow
 *    transform: For navbar--scrollSensitive variant
 */
.Navbar {
	@include transition((box-shadow, transform), $transitionTime); /* 2 */
	position: absolute;
	top: 0;
	left: 0;
	z-index: index($index, Navbar);
	display: flex;
	align-items: center;
	width: 100%;
	height: $Navbar-height;
	background-color: $white;

	@include breakpoint(large) {
		height: $Navbar--large-height;
	}
}



/* Sections */
.Navbar-left,
.Navbar-center,
.Navbar-right {
	display: flex;
	align-items: center;
}

.Navbar-left {
	margin-left: $Navbar-section-margin;
	@include breakpoint(large) {
		margin-left: $Navbar--large-section-margin;
	}
}

.Navbar-center {
	@include horizontalCenter;
}

.Navbar-right {
	position: absolute;
	right: 0;
	margin-right: $Navbar-section-margin;
	@include breakpoint(large) {
		margin-right: $Navbar--large-section-margin;
	}
}

.Navbar-links {
	display: inline-flex;
	list-style: none;
}



/* Elements */
.Navbar-link {
	@include inlineFlexCenter;
	padding: 5px;
	color: $link-fontColor;
	.icon { fill: $link-fontColor; }

	@include breakpoint(large) {
		padding: 5px 15px;
	}

	@include hoverFocus {
		color: $link-fontColor--hover;
		.icon { fill: $link-fontColor--hover; }
	}

	@include selfHoverFocusActive {
		text-decoration: none;
	}
}

.Navbar-icon {
	@include circle(48px);
	@include inlineFlexCenter;
	@include linkStates(background-color, $link-fontColor-alpha-b--hover, $link-fontColor-alpha-b--active);
	cursor: pointer;
}




/** VARIANTS
 * Always maintain the navbar fixed at the top.
 *
 * 1. Remember that the height of teh navbar don't count in box-model flow.
 *    You can modify the wrapper with the predefinied classes in
 *    layout/_wrapper.scss
 */
.Navbar--fixed {
	@include shadow(1);
	position: fixed; /* 1 */
	will-change: box-shadow;

	@include scrolled {
		@include shadow(3);
	}
}


/**
 * Fix the navbar always on top, but it show and hide if scroll down or up
 */
.Navbar--scrollSensitive {
	@include shadow(1);
	position: fixed;
	will-change: box-shadow, transform;

	@include scrolled {
		@include shadow(3);
	}

	@include scrollDown {
		transform: translateY(-$Navbar-height);

		@include breakpoint(large) {
			transform: translateY(-$Navbar--large-height);
		}
	}
}
