meta(charset='utf-8')
meta(http-equiv='x-ua-compatible')
meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no')

title Index

//- CSS
link(rel='stylesheet' href='assets/style.min.css')

//- JavaScript
script(src='assets/script.min.js' defer)

//- Typography
link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800' rel='stylesheet')
