// Completly center items in a `flex` container
@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}



@mixin inline-flex-center {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}



// Horizontal center a block item
@mixin block-center {
	@include margin-x(auto);

	display: block;
}
