// Transitions
// Example: @include transition([width, height], 5s);
@mixin transition($property,
									$duration: $transitionTime,
									$timing-function: $transitionTimingFunction) {
	transition-duration: $duration;
	transition-property: $property;
	transition-timing-function: $timing-function; // http://goo.gl/2rbYlE
}
