/// Full width in small screens
/// @group layout
/// @param {units} $marginHz - Horizontal margin of the parent element
@mixin oversize($marginHz) {
	@include breakpointDown(medium) {
		position: relative;
		left: 50%;
		width: calc(100% + (#{$marginHz} * 2));
		border-radius: 0;
		transform: translateX(-50%);
	}
}



/// Convert a list in a inline list
/// @group layout
@mixin inlineList {
	display: inline-flex;
	align-items: center;
	padding: 0;
	list-style: none;
}



/// Helper to clear inner floats
/// @author Nicolas Gallagher
/// @link http://nicolasgallagher.com/micro-clearfix-hack/ Micro Clearfix
/// @group layout
@mixin clearfix {
	&::after {
		display: table;
		clear: both;
		content: '';
	}
}


@mixin aspectRatio {
	&.is-2by1::before {padding-bottom: percentage(1 / 2);} // 2:1
	&.is-21by9::before {padding-bottom: percentage(9 / 21);} // 21:9
	&.is-16by9::before {padding-bottom: percentage(9 / 16);} // 16:9
	&.is-5by3::before {padding-bottom: percentage(3 / 5);} // 5:3
	&.is-4by3::before {padding-bottom: percentage(3 / 4);} // 4:3
	&.is-1by1::before {padding-bottom: percentage(1 / 1);} // 1:1
}
