// Full width in small screens
@mixin oversize($margin-x) {
	position: relative;
	left: 50%;
	width: calc(100% + (#{$margin-x} * 2));
	transform: translateX(-50%);
}



// Convert a list in a inline list
@mixin list-inline {
	display: inline-flex;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		margin: 0;
	}
}



// Disable basic list styles
@mixin list-raw {
	padding: 0;
	margin: 0;
	list-style: none;
}



// Helper to clear inner floats
@mixin clearfix {
	&::after {
		clear: both;
		display: table;
		content: "";
	}
}
