// Alpha - Black
$alpha    : hsla(0, 0%, 0%, 0);
$alpha-50 : hsla(0, 0%, 0%, .05);
$alpha-100: hsla(0, 0%, 0%, .1);
$alpha-150: hsla(0, 0%, 0%, .15);
$alpha-200: hsla(0, 0%, 0%, .2);
$alpha-250: hsla(0, 0%, 0%, .25);
$alpha-300: hsla(0, 0%, 0%, .3);
$alpha-350: hsla(0, 0%, 0%, .35);
$alpha-400: hsla(0, 0%, 0%, .4);
$alpha-450: hsla(0, 0%, 0%, .45);
$alpha-500: hsla(0, 0%, 0%, .5);
$alpha-550: hsla(0, 0%, 0%, .55);
$alpha-600: hsla(0, 0%, 0%, .6);
$alpha-650: hsla(0, 0%, 0%, .65);
$alpha-700: hsla(0, 0%, 0%, .7);
$alpha-750: hsla(0, 0%, 0%, .75);
$alpha-800: hsla(0, 0%, 0%, .8);
$alpha-850: hsla(0, 0%, 0%, .85);
$alpha-900: hsla(0, 0%, 0%, .9);
$alpha-950: hsla(0, 0%, 0%, .95);

// Alpha - White
$walpha    : hsla(0, 0%, 100%, 0);
$walpha-50 : hsla(0, 0%, 100%, .05);
$walpha-100: hsla(0, 0%, 100%, .1);
$walpha-150: hsla(0, 0%, 100%, .15);
$walpha-200: hsla(0, 0%, 100%, .2);
$walpha-250: hsla(0, 0%, 100%, .25);
$walpha-300: hsla(0, 0%, 100%, .3);
$walpha-350: hsla(0, 0%, 100%, .35);
$walpha-400: hsla(0, 0%, 100%, .4);
$walpha-450: hsla(0, 0%, 100%, .45);
$walpha-500: hsla(0, 0%, 100%, .5);
$walpha-550: hsla(0, 0%, 100%, .55);
$walpha-600: hsla(0, 0%, 100%, .6);
$walpha-650: hsla(0, 0%, 100%, .65);
$walpha-700: hsla(0, 0%, 100%, .7);
$walpha-750: hsla(0, 0%, 100%, .75);
$walpha-800: hsla(0, 0%, 100%, .8);
$walpha-850: hsla(0, 0%, 100%, .85);
$walpha-900: hsla(0, 0%, 100%, .9);
$walpha-950: hsla(0, 0%, 100%, .95);
