// Kirigami UI Colors
// https://community.kde.org/images.techbase/8/8b/Breeze_Color_Palette.png

// Primary
$ki-paperwhite   : #fcfcfc;
$ki-cardboardgrey: #eff0f1;
$ki-icongrey     : #4d4d4d;
$ki-charcoalgrey : #31363b;
$ki-shadeblack   : #232629;
$ki-plasmablue   : #3daee9;

// Secondary
$ki-iconred        : #da4453;
$ki-dangerred      : #ed1515;
$ki-iconorange     : #f47750;
$ki-bewareorange   : #f67400;
$ki-iconyellow     : #fdbc4b;
$ki-sunbeamyellow  : #c9ce3b;
$ki-mellowturquoise: #1cdc9a;
$ki-icongreen      : #2ecc71;
$ki-verdantgreen   : #11d116;
$ki-iconblue       : #1d99f3;
