// Nord Color Palette
// https://github.com/arcticicestudio/nord

$nord0 : #2E3440;
$nord1 : #3b4252;
$nord2 : #434C5E;
$nord3 : #4C566A;
$nord4 : #D8DEE9;
$nord5 : #E5E9F0;
$nord6 : #ECEFF4;
$nord7 : #8FBCBB;
$nord8 : #88C0D0;
$nord9 : #81A1C1;
$nord10: #5E81AC;
$nord11: #BF616A;
$nord12: #D08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;
