// sass-lint:disable no-important
/*------------------------------------*\
	#HELPERS
\*------------------------------------*/

// LAYOUT
// Hide an element
.h-hidden {display: none !important;}

// Not show it, but maintain the layout
.h-invisible {visibility: hidden !important;}

// Hidden from medium to high
@include breakpoint(medium) {.h-md-hidden {display: none !important;}}

// Hidden from large to high
@include breakpoint(large) {.h-lg-hidden {display: none !important;}}

// Hidden from extraLarge to high
@include breakpoint(extraLarge) {.h-xl-hidden {display: none !important;}}

// Show from medium to high
@include breakpointDown(medium) {.h-md-show {display: none !important;}}

// Show from large to high
@include breakpointDown(large) {.h-lg-show {display: none !important;}}

// Show from extraLarge to high
@include breakpointDown(extraLarge) {.h-xl-show {display: none !important;}}


// FLEXBOX
.h-orderFirst {order: -1 !important;}
.h-orderLast {order: 1 !important;}

// A11Y
.h-screenReader {@include screenReader;}

// POSITIONING
.h-floatRight {float: right !important;}
.h-floatLeft {float: left !important;}

// LINKS
.h-voidLink {@include voidLink;}

// Display links when the <a> element has no text value but the href
.h-showLink::before {content: attr(href);}


// SIZE
.h-fullWidth {width: 100% !important;}

.h-size-18 {@include size(18px);}
.h-size-24 {@include size(24px);}
.h-size-36 {@include size(36px);}
.h-size-48 {@include size(48px);}


// TEXT
.h-uppercase {text-transform: uppercase !important;}
.h-capitalize {text-transform: capitalize !important;}

.h-text-align-right {text-align: right !important;}
.h-text-align-left {text-align: left !important;}
.h-text-align-center {text-align: center !important;}
.h-text-align-justify {text-align: justify !important;}

// In HTML5, tags with pure stylistic purposes are deprecated, I recommend
// use the clasess below into a '<span>' element.
.h-bold {font-weight: bold !important;}
.h-italic {font-weight: italic !important;}
.h-underline {text-decoration: underline !important;}
.h-overline {text-decoration: overline !important;}
.h-strikethrough {text-decoration: line-through !important;}
.h-monospace {font-family: $fontFamily-monospace !important;}

.h-unselectable {user-select: none !important;}


// PRINT
// No print the element
@media print {
	.h-no-print {
		display: none !important;
	}
}
