// sass-lint:disable no-important
/*------------------------------------*\
	#HELPERS
\*------------------------------------*/

// LAYOUT
// Hide an element
.h-hidden {display: none !important;}

// Not show it, but maintain the layout
.h-invisible {visibility: hidden !important;}

// Always hide except in small
@include breakpoint(small) {.h-sm-hidden {display: none !important;}}

// Hidden from medium to high
@include breakpoint(medium) {.h-md-hidden {display: none !important;}}

// Hidden from large to high
@include breakpoint(large) {.h-lg-hidden {display: none !important;}}


// FLEXBOX
.h-display-flex {display: flex;}
.h-order-first {order: -1 !important;}
.h-order-last {order: 1 !important;}

// A11Y
.h-screen-reader {@include screen-reader;}

// POSITIONING
.h-float-right {float: right !important;}
.h-float-left {float: left !important;}

// BORDER
.h-rounded { @include rounded;}

// LINKS
.h-void-link {@include void-link;}

// Display links when the <a> element has no text value but the href
.h-show-link::before {content: attr(href);}


// SIZE
.h-full-width {width: 100%;}

.h-size-18 {@include size(18px);}
.h-size-24 {@include size(24px);}
.h-size-36 {@include size(36px);}
.h-size-48 {@include size(48px);}


// TEXT
.h-uppercase {text-transform: uppercase !important;}
.h-capitalize {text-transform: capitalize !important;}

.h-text-align-right {text-align: right !important;}
.h-text-align-left {text-align: left !important;}
.h-text-align-center {text-align: center !important;}
.h-text-align-justify {text-align: justify !important;}

// In HTML5, tags with pure stylistic purposes are deprecated, I recommend
// use the clasess below into a '<span>' element.
.h-bold {font-weight: bold !important;}
.h-italic {font-weight: italic !important;}
.h-underline {text-decoration: underline !important;}
.h-overline {text-decoration: overline !important;}
.h-strikethrough {text-decoration: line-through !important;}
.h-monospace {font-family: $font-family-monospace !important;}

.h-unselectable {user-select: none;}


// PRINT
// No print the element
@media print {
	.h-no-print {
		display: none !important;
	}
}
