/*------------------------------------*\
	#ICONS
\*------------------------------------*/

.icon {
	@include size(24px);
	vertical-align: middle;
	fill: $font-color;

	// Themes
	// &.icon--light {fill: $font-color-light;} // TODO: reparar
	&.is-inactive {fill: $font-color-alpha-b;}
	&.icon--light.is-inactive {fill: $font-color-alpha-w;}


	// Animations
	&.icon--animation-laught {
		animation: laught 150ms ease-in-out infinite alternate;
	}

	&.icon--animation-beat {
		@include animation (beat, 400ms);
	}

	&.icon--animation-spin {
		animation: spin 2s linear infinite reverse;
	}

	&.icon--animation-step {
		animation: spin 2s infinite steps(8);
	}
}


// Keyframes
@keyframes laught {
	from {transform: translateY(1px);}
	to {transform: translateY(-1px);}
}

@keyframes beat {
	from {transform: scale(1);}
	to {transform: scale(1.15);}
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(359deg);}
}
