// Footer
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $oc-grey-100;
}

.footer-menu {
	@include inlineList;
}

.footer-widgetArea {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	align-items: flex-start;

	.widget {
		min-width: 200px;
		max-width: 500px;
		margin: 20px;
		flex: 1;
		background-color: $oc-grey-300;
	}
}
