// /* $NAVBAR */

// /* NAVBAR */
:root {
	--Navbar-height: 55px;
	@include from(medium) {
		--Navbar-height: 65px;
	}
}


.Navbar {
	height: var(--Navbar-height);
	display: flex;
	align-items: center;
	z-index: z(navbar);
	padding: 0 12px;
	width: 100vw;
	background-color: lightgrey;

	&-toggle {
		@include circle(48px);
		background-color: transparent;

		.Icon {
			@include size(24px);
		}
	}

	&-menu {
		@include inlineList;
		margin-left: auto;

		li:not(:first-child) {
			margin-left: 20px;
		}
	}



	&--fixed {
		@include transition(box-shadow);
		position: fixed;
		top: 0;
		will-change: box-shadow;

		@include scrolled {
			@include boxShadow(2);
		}
	}

	&--scrollable {
		@include transition((box-shadow, transform));
		position: fixed;
		top: 0;
		will-change: box-shadow, transform;

		@include scrolled {
			@include boxShadow(2);
		}

		@include scrollDown {
			transform: translateY(calc(var(--Navbar-height) * -1));
		}
	}
}
