// Margins
$margin-bottom-large   : 2.5em !default;
$margin-bottom-base    : 1.7em !default;
$margin-bottom-small   : 1em !default;

$margin-top-headings   : 1.1em !default;
$margin-bottom-headings: .5em !default;
