- var title = "List";

doctype html

html

	include parts/head

	body

		ul.List
			li
				a.List-item Link
			li
				a.List-item
					img.List-avatar(src='http://lorempixel.com/output/people-q-c-100-100-9.jpg')
					span.List-text Link with avatar
			li
				a.List-item(data-badge='32' href='#')
					svg.List-icon
						<use xlink:href="#menu">
					span.List-text Link with icon, data and two asides
					span.List-data 35
				a.List-aside(href='#')
					svg.List-icon
						<use xlink:href="#menu">
				a.List-aside(href='#')
					svg.List-icon
						<use xlink:href="#menu">
			li
				- for (var x = 0; x < 5; x++)
					a.List-item.is-centered(href='#')
						svg.icon
							<use xlink:href="#menu">
						| manoli


		ul.List.is-small
			li
				a.List-item Link
			li
				a.List-item
					img.List-avatar(src='http://lorempixel.com/output/people-q-c-100-100-9.jpg')
					span.List-text Link with avatar
			li
				a.List-item(data-badge='32' href='#')
					svg.List-icon
						<use xlink:href="#menu">
					span.List-text Link with icon, data and two asides
					span.List-data 35
				a.List-aside(href='#')
					svg.List-icon
						<use xlink:href="#menu">
				a.List-aside(href='#')
					svg.List-icon
						<use xlink:href="#menu">

		ul.List
			li
				p.List-item List paragraph
			li
				span.List-item List span
