- var title = "Navbar";

doctype html

html

	include parts/head

	body

		nav.Navbar

			div.Navbar-left
				span.Navbar-icon
					svg.icon
						<use xlink:href="#menu">

			div.Navbar-center
				span Title

			div.Navbar-right
				div
					input(type='text')
					input(type='button' value='buscar')

				div
					ul.Navbar-links
						- for (var x = 0; x < 4; x++)
							li
								a.Navbar-link(href="#")
									svg.icon
										<use xlink:href="#menu">
									| Link
